<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='patient_profile.css') }}" />

    <title>Profile Card</title>
  </head>
  <body>
    <div class="container">
      <div class="profile-header">
        <div class="profile-img">
          <img src="{{ url_for('static', filename='images/' + patient.id + '.jpg') }}" width="200" alt="Profile Image" />

        </div>
        <div class="profile-nav-info">
          <h3 class="user-name"> {{ patient.firstname }} {{ patient.lastname }}</h3>
          <div class="address">
            <p id="state" class="state">Patient ID:</p>
            <span id="country" class="country"> {{ prefix }}{{ patient.id }}</span>
          </div>
          <p id="state" class="state">Doctor Assigned:  {{ patient.doctor }}</p>
        </div>
      </div>

      <div class="main-bd">
        <div class="left-side">
          <div class="profile-side">
            <div class="user-bio">
              <h3 style="font-size: medium">Status: Active</h3>
            </div>
            <br><br>
            <p>Gender: <strong>{{ patient.gender }}</strong></p>
            <p>Age: <strong>{{ calculate_age(patient.dob) }}</strong></p>
            <p>Blood Group:<strong>{{ patient.bloodgroup }}</strong></p>
          </div>
        </div>
        <div class="right-side">
          <div class="nav">
            <ul>
              <li onclick="tabs(0)" class="user-post active">Summary</li>
              <li onclick="tabs(1)" class="user-setting">Medical History</li>
            </ul>
          </div>
          <div class="profile-body">
            <div class="profile-posts tab active">
              <p style="text-align: left  ;">
                Meet  <strong>{{ patient.firstname }} {{ patient.lastname }}</strong>, a patient with an assigned ID of
                <strong>{{ prefix }}{{ patient.id }}</strong>, under the care of <strong>{{ patient.doctor }}</strong>. Residing in <strong>{{ patient.city }}</strong>,
                this individual, aged {{ calculate_age(patient.dob) }}, presents a comprehensive medical
                profile. Born on <strong>{{ patient.dob }}</strong>, the patient identifies as <strong>{{ patient.gender }}</strong>. Located at <strong>{{ patient.address }}</strong>,
                in the vibrant state of <strong>{{ patient.state }}</strong>, their blood group is
                <strong>{{ patient.bloodgroup }}</strong>.
              </p>
            </div>
            <div class="profile-reviews tab">

              <p>
                {{ patient.prevcondition}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Initially hide the Medical History tab
        document.querySelector(".profile-reviews").style.display = "none";
        // Trigger click event on the first tab (Summary)
        tabs(0);
      });

      function tabs(tabIndex) {
        var tabs = document.querySelectorAll(".tab");
        var navItems = document.querySelectorAll(".nav li");
        for (var i = 0; i < tabs.length; i++) {
          tabs[i].style.display = "none";
          navItems[i].classList.remove("active");
        }
        tabs[tabIndex].style.display = "block";
        navItems[tabIndex].classList.add("active");
      }
    </script>
  </body>
</html>
